.wrapper {
    width: 940px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 30px 0;
    gap: 20px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gradient {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

picture {
    display: block;
    width: 300px;
    height: 300px;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.bg-gradient {
    min-height: 100vh; 
    background: linear-gradient(135deg, #c850c0, #4158d0);
    background-size: 400% 400%;
    animation: gradientAnimation 8s ease infinite;
    display: flex;
    align-items: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (min-width: 320px) {
    .wrapper {
        width: 280px;
        height: 100%;
        gap: 5px;
        padding: 5px;
    }
    .bg-gradient,
    .gradient {
        width: 100%;
        height: 100%;
    }
    picture {
        width: 90px;
        height: 90px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        width: 630px;
        gap: 15px;
    }
    picture {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        width: 780px;
        gap: 15px;
    }
    picture {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 1440px) {
    .wrapper {
        width: 950px;
        gap: 25px;
    }
    picture {
        width: 300px;
        height: 300px;
    }
}